parameters:
  level: max
  ignoreErrors:
    - '/^Parameter #3 \$methods of class Boesing\\ZendRouterToExpressiveRouter\\ExpressiveRouter\\CacheableRoute constructor expects array/'
  reportUnmatchedIgnoredErrors: true
  fileExtensions:
    - php
  paths:
    - src/
