<?php

use Zend\Expressive\Router\FastRouteRouter;

return [
    'router' => [
        'fastroute' => [
            FastRouteRouter::CONFIG_CACHE_ENABLED => false,
            FastRouteRouter::CONFIG_CACHE_FILE => 'data/cache/fastroute-cache.php',
        ],
    ],
];
